src/main/mule/world-countries-populations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cecb834f-700a-48ae-93cb-11dac0d483e0" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="037ee482-5f9b-4d0d-8afc-e7088e7bbf76" file="config.yaml" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="bbde87b9-3e40-434b-b010-75d9e09be39a">
		<http:request-connection host="api.api-ninjas.com" protocol="HTTPS"/>
	</http:request-config>
	<flow name="world-countries-populationsFlow" doc:id="57370083-5e5d-4e46-a1c7-d1ee0a315fd8" >
		<http:listener doc:name="Listener" doc:id="155164e0-15c3-49d7-949e-9cd0edbb8baf" config-ref="HTTP_Listener_config" path="/country"/>
		<http:request method="GET" doc:name="Request" doc:id="5bf55086-2930-46bf-8d93-0cb07aeddc83" config-ref="HTTP_Request_configuration" path="/v1/country">
			<http:headers ><![CDATA[#[output application/java
---
{
	"X-Api-Key" : p('key')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"name" : attributes.queryParams.name
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="56655c41-0cc1-439d-9047-af3c9067ad5d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
